@charset "UTF-8";
.wrapper {
  padding-top: .88rem;
  font-size: 0; }
  .wrapper .search {
    padding: .1rem 0;
    width: 100%;
    text-align: center;
    background: #f6f6f6; }
    .wrapper .search .input {
      position: relative;
      width: 7rem;
      height: .7rem;
      margin: .1rem auto; }
    .wrapper .search .input input {
      width: 6.4rem;
      height: .7rem;
      border: 1px solid #ebebeb;
      background: #fff;
      font-size: .3rem;
      padding-left: .6rem;
      letter-spacing: .03rem; }
  .wrapper .search span {
    position: absolute;
    left: .2rem;
    line-height: .7rem;
    color: #aeaeae;
    font-size: .3rem;
    top: .03rem;
    font-family: iconfont; }
  .wrapper .middle li {
    height: 1.1rem;
    width: 100%;
    border-bottom: 1px solid #dddddd;
    margin-left: .25rem; }
    .wrapper .middle li .left {
      float: left;
      font-size: .5rem;
      width: .75rem;
      height: .75rem;
      border-radius: 50%;
      font-family: iconfont;
      background-color: #ffde5b;
      color: #fff;
      text-align: center;
      margin-top: .175rem;
      line-height: .75rem; }
    .wrapper .middle li .right {
      float: left;
      font-size: .26rem;
      margin-top: .18rem;
      margin-left: .14rem;
      color: #9b9b9b; }
    .wrapper .middle li .right span {
      font-size: .3rem;
      color: #333333;}
    .wrapper .middle li .arrow {
      float: right;
      line-height: 1.1rem;
      color: #9b9b9b;
      font-size: .26rem;
      margin-right: .25rem;
      font-family: iconfont; }
  .wrapper .middle li:nth-child(2) .left {
    background-color: #66e4ff; }
  .wrapper .middle li:nth-child(3) .left {
    background-color: #76eea6;
    border-bottom: none; }
  .wrapper .maylove .title {
    line-height: .57rem;
    color: #333333;
    font-size: .26rem;
    background-color: #f6f6f6;
    padding-left: .25rem; }
  .wrapper .maylove .list li .adress {
    color: #9b9b9b;
    font-size: .26rem;
    padding-right: .1rem;
    font-family: iconfont;
    font-weight: normal; }
  .wrapper .maylove .list li .left {
    overflow: hidden; }
  .wrapper .maylove .list li .left img {
    height: 100%;
    width: 100%; }
  .wrapper .maylove .list li .arrow {
    border: 1px solid #fe2d63;
    border-radius: 10%;
    padding: .1rem;
    margin: .3rem .4rem 0 0;
    text-align: center;
    line-height: normal;
    color: #fe2d63;
    font-size: .24rem; }
