.wrapper {
  width: 7.5rem;
  margin: 0 auto; }

.pet-cityService {
  padding-top: 0.88rem; }
  .pet-cityService form {
    padding: 0.1rem 0;
    font-size: 0;
    background: #f7f7f7; }
  .pet-cityService input {
    width: 6.96rem;
    height: 0.67rem;
    border: 1px solid #bbb;
    border-radius: 0.1rem;
    font-size: 0.25rem;
    text-align: center;
    margin: 0 auto;
    background: url(../images/search.png) 42% center no-repeat;
    background-size: 0.33rem 0.33rem;
    margin-left: 0.25rem;
    background-color: #fff; }
  .pet-cityService .content {
    margin-top: 0.55rem;
    height: 100%;
    overflow: auto; }
  .pet-cityService a {
    float: left;
    width: 33.33%;
    text-align: center;
    padding-bottom: 0.2rem;
    color: #000;
    text-decoration: none; }
  .pet-cityService a p {
    font-size: 0.3rem; }
  .pet-cityService a img {
    width: 1.5rem;
    height: 1.5rem; }
